<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medicine.sys.mapper.OrderSumMapper">
 
<!-- 查询总订单数量 -->
  <select id="getAllCount" resultType="int">
    select count(order_sum_id) from order_sum
    <where>
    	<if test="orderSumInfo!=null and orderSumInfo.startdate!=null and orderSumInfo.startdate!=''">
    		<![CDATA[ and DATE_FORMAT(createdate, '%Y-%m-%d') >= DATE_FORMAT(#{orderSumInfo.startdate}, '%Y-%m-%d')]]>
    	</if>
    	<if test="orderSumInfo!=null and orderSumInfo.enddate!=null and orderSumInfo.enddate!=''">
    		<![CDATA[ and DATE_FORMAT(createdate, '%Y-%m-%d') < DATE_FORMAT(#{orderSumInfo.enddate}, '%Y-%m-%d')]]>
    	</if>
    </where>
  </select>
 
<!-- 分页查询所有总订单 -->
  <select id="getAll" resultType="com.medicine.sys.db.OrderSum">
    select * from order_sum
    <where>
    	1=1
    	<if test="orderSumInfo!=null and orderSumInfo.startdate!=null and orderSumInfo.startdate!=''">
    		<![CDATA[ and DATE_FORMAT(createdate, '%Y-%m-%d') >= DATE_FORMAT(#{orderSumInfo.startdate}, '%Y-%m-%d')]]>
    	</if>
    	<if test="orderSumInfo!=null and orderSumInfo.enddate!=null and orderSumInfo.enddate!=''">
    		<![CDATA[ and DATE_FORMAT(createdate, '%Y-%m-%d') < DATE_FORMAT(#{orderSumInfo.enddate}, '%Y-%m-%d')]]>
    	</if>
    	limit #{pageParam.pageNum},#{pageParam.pageSize}
    </where>
  </select>
 
<!-- ID查询总订单 -->
  <select id="getOrderSumByIds" resultType="com.medicine.sys.db.OrderSum">
    select * from order_sum where order_sum_id in 
    <foreach collection="idList" item="id" index="index" open="(" close=")" separator=",">
	  #{id}
	</foreach>
  </select>

<!-- 保存总订单 -->
  <insert id="saveOrderSum" useGeneratedKeys="true" keyProperty="orderSumInfo.orderSumId" parameterType="com.medicine.sys.model.OrderSumInfo">
  	INSERT INTO order_sum (price, createby, createdate, updateby, updatedate) VALUES 
  	(#{orderSumInfo.price},#{orderSumInfo.operator}, #{orderSumInfo.operatdate},#{orderSumInfo.operator}, #{orderSumInfo.operatdate});
  </insert>

<!-- 更新总订单 -->
  <update id="updateOrderSum">
  	update order_sum
    <set>
        <if test="orderSumInfo != null and orderSumInfo.price != null and orderSumInfo.price!=''">
        	price=price-#{orderSumInfo.price}
        </if>
    </set>
    where order_sum_id=#{orderSumInfo.orderSumId}
  </update>
  
<!-- 删除总订单 -->
  <delete id="delOrderSum">
  	delete from order_sum 
  	<where>
  	1=1
		<if test="orderSumInfo!=null and orderSumInfo.orderSumId!=null and orderSumInfo.orderSumId!=''">
	   		and order_sum_id = #{orderSumInfo.orderSumId}
	   	</if>
  	</where>
  </delete>
  
</mapper>