<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>药品信息管理系统</title>
<link rel="import" href="http://127.0.0.1:8080/common/css_js.html">
<link rel="import" href="http://127.0.0.1:8080/common/head.html" id="head_html"/>
<link rel="import" href="http://127.0.0.1:8080/common/head_admin.html" id="head_admin_html"/>
<script src="http://127.0.0.1:8080/user/user_list.js"></script>
</head>
<body>
<#if auth?? && auth.role?? && auth.role=='admin'>
	<script type="text/javascript">
	    document.write(head_admin_html.import.body.innerHTML);
	</script>
<#else>
	<script type="text/javascript">
	    document.write(head_html.import.body.innerHTML);
	</script>
</#if>
<h1 style="text-align: center; padding-bottom: 20px;">修改密码</h1>
<form id="edit_user_pwd_form" role="form" style="width: 60%;margin-left: 24%" action="http://127.0.0.1:8080/api/user/editUser">
	<input type="hidden" id="userId" name="userId" value="${auth.userId!''}">
	<div class="form-group">
       <label class="col-sm-2 control-label" style="margin-top: 5px; width: 10%">旧密码</label>
       <div class="col-sm-4">
          <input class="form-control" size="10" id="oldPwd" name="oldPwd" type="password" placeholder="请输入旧密码"/>
       </div>
       <label class="col-sm-2 control-label" style="margin-top: 5px; width: 10%">新密码</label>
       <div class="col-sm-4">
          <input class="form-control" maxlength="20" id="newPwd" name="newPwd" type="password" placeholder="请输入新密码"/>
       </div>
    </div>
    
    <div class="form-group" style="padding-top: 50px">
       <label class="col-sm-2 control-label" style="margin-top: 5px; width: 10%" for="ds_password">确认密码</label>
       <div class="col-sm-4">
          <input class="form-control" maxlength="20" name="secPwd" id="secPwd" type="password" placeholder="请再次输入密码"/>
       </div>
    </div>

</form>
    <div class="form-group" style="padding-top: 30px; text-align: center;">
    <button class="btn btn-primary" style="margin-top: 30px;" onclick="editPwd()">提交</button>
    <a type="button" href="http://127.0.0.1:8080/api/user/getUser" class="btn btn-default" style="margin-top: 30px;">返回</a>
    </div>

</body>
</html>