<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>药品信息管理系统</title>
<link rel="import" href="http://127.0.0.1:8080/common/css_js.html">
<link rel="import" href="http://127.0.0.1:8080/common/head.html" id="head_html"/>
<link rel="import" href="http://127.0.0.1:8080/common/head_admin.html" id="head_admin_html"/>
<script src="http://127.0.0.1:8080/user/user_list.js"></script>
</head>
<body>
<#if auth?? && auth.role?? && auth.role=='admin'>
	<script type="text/javascript">
	    document.write(head_admin_html.import.body.innerHTML);
	</script>
<#else>
	<script type="text/javascript">
	    document.write(head_html.import.body.innerHTML);
	</script>
</#if>
	<form action="/api/user/user_page" class="bs-example bs-example-form" style="padding: 10px;" method="post" id="user_form">
		<div class="input-group">
			<input type="text" id="realname" placeholder="姓名" style="width: 200px" name="realname" class="form-control" value="${realname!''}">
			<input type="text" id="mobile" placeholder="手机号码" style="width: 200px; margin-left: 10px;" name="mobile" class="form-control" value="${mobile!''}">
            <select id="role" name="role" class="form-control" style="width: 200px; margin-left: 10px;">
				<option value="">-- 身份 --</option>
				<option value="admin" <#if role?? && role=='admin'>selected="selected"</#if>>管理员</option>
				<option value="emp" <#if role?? && role=='emp'>selected="selected"</#if>>员工</option>
			</select>
			<input type="hidden" id="pageNum" name="pageNum" class="" value="${pageParam.pageNum!'1'}">
			<input type="hidden" id="pageSize" name="pageSize" class="" value="#{pageParam.pageSize!'10'}">
			<input type="hidden" id="maxPage" name="maxPage" class="" value="#{pageParam.maxPage!'99'}">
			<button type="submit" class="btn btn-primary" style="margin-left: 10px;">查询</button>
			<a type="button" class="btn btn-primary" href="http://127.0.0.1:8080/api/user/toEditPage" style="margin-left: 10px;">添加用户</a>
		</div>
	</form>
	
	<table class="table table-striped" style="text-align: center;">
		<tr>
			<td>序号</td>
			<td>姓名</td>
			<td>手机号码</td>
			<td>邮件地址</td>
			<td>家庭地址</td>
			<td>角色</td>
			<td>操作</td>
		</tr>
		<#if userList??>
			<#list userList as user>
				<tr>
				<td>${user.userId!''}</td>
				<td>${user.realname!''}</td>
				<td>${user.mobile!''}</td>
				<td>${user.email!''}</td>
				<td>${user.address!''}</td>
				<td>${user.roleName!''}</td>
				<td>
					<a type="button" class="btn btn-primary btn-sm" href="http://127.0.0.1:8080/api/user/getUser?userId=${user.userId!''}">编辑</a>
					<a type="button" class="btn btn-primary btn-sm" onclick="resetPwd(${user.userId!''})" >重置密码</a>
					<#if user.isDel?? && user.isDel=='F'>
					<a type="button" class="btn btn-danger btn-sm" onclick="stopUser(${user.userId!''},'T')">停用</a>
					<#else>
					<a type="button" class="btn btn-warning btn-sm" onclick="stopUser(${user.userId!''},'F')">启用</a>
					</#if>
				</td>
			</tr>
			</#list>
		</#if>
	</table>
	<div style="width:100%; text-align:center;">
		<ul class="pagination">
			<#if pageParam?? && pageParam.maxPage gt 1>
			    <li <#if pageParam.pageNum?? && pageParam.pageNum==1>class="disabled"</#if> ><a style="cursor:pointer" onclick="lastPage()">&laquo;</a></li>
			    <li class="active"><a id="currentNum" name="currentNum">${pageParam.pageNum}/${pageParam.maxPage}</a></li>
			    <li <#if pageParam.pageNum?? && pageParam.pageNum gte pageParam.maxPage>class="disabled"</#if>><a style="cursor:pointer" onclick="nextPage()">&raquo;</a></li>
		    </#if>
		</ul>
	</div>

</body>
</html>